h1 {
    font-family: "Trebuchet MS";
    font-size: 50pt;
}

.jumbotron {
    background-color: #ecedf8;
}


#content {
    font-family: "Trebuchet MS";
    background-color: #293df9;
    display: flex; 
}

ul {
  list-style-type: none;
}

